---
import Layout from "../components/layout.astro";
import ButtonSuscribe from "../components/ButtonSuscribe";
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
---

<Layout>
  <h1>Astro.build</h1>
  <ButtonSuscribe client:load />
  <ToastContainer client:load />
</Layout>

<style></style>
